.catalog-container{display: flex; width: 100%;}
	.category{
	width: calc(100% / 3); 
	cursor: pointer; 
	border: 1px solid #e8e8e8; 
	overflow: hidden; 
	padding: 25px 15px; 
	position: relative; 
	text-align: center; 
	transition: all 0.5s ease 0s;
		&:hover{ box-shadow: none; z-index: 1; text-decoration: none; background: $color-main; }
		&__img {height: 170px;
			img{max-height: 140px; max-width: 100%; object-fit: contain;}}
		&__title a {font-size: 19px;}
	}

	@media (max-width: 768px) {
		.catalog-container{
		flex-direction: column;
 	   }	
		.category{
		width: 100%;
		margin-bottom: 40px;
  		}
  }