.card-section{margin-bottom: 80px;}
.main{
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-evenly;
   border: 1px solid #e8e8e8;
      ul{list-style-type: none;}
      a{display: inline-block;}
      svg{color: #2ed653;}
      button{
         display: inline-block;
         padding: 10px 20px;
         border: 2px solid $color-main;
         font-weight: 700;
         font-size: 14px;
         margin-top: 10px;
         transition: background-color 200ms ease-in-out;
      }
      &-photo{
         width: 530px;
         max-width: 100%;
         margin-right: 30px;
         padding: 40px;
      }
      &-details{
         margin-right: 40px;
      }
      &-details-name{ 
         font-size: 24px; 
         font-weight: 700;
         margin-bottom: 30px;
      }
      &-details-desc{
         overflow: hidden; 
         font-size: 14px;
         margin-bottom: 20px;
      }
      &-details-price{ 
         font-size: 24px; 
         font-weight: 700;
      }
      &-details-application{
         background-color: $color-main !important;
         color: $color-dark !important;
      }
      &-details-application:hover{
         background-color: $color-dark !important;
         border: 2px solid $color-dark !important;
         color: $color-main !important;
      }
}
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
   .main-details-price{margin-top: 10px;}
   .card-section{margin-bottom: 0px;} 
   .mixer-box{margin-bottom: 0;} 
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
   .main{
      flex-flow: column nowrap;
      align-items: start;
      button:last-of-type{
         margin-bottom: 40px;
      }
      &-photo{
         margin-right: 0px;
      }
      &-details{
         margin-right: 0px;
         margin-left: 45px;
      }
      &-details-name{margin-bottom: 20px; font-size: 20px;}
      &-details-price{font-size: 18px;} 
   }
}

/* .characters{
   h4{margin-top: 40px;}
   table {
      width: 100%;
      margin-bottom: 20px;
      .name {  
         overflow: hidden;
         span {
            display: inline-block;
            position: relative;
          }
          span:after {
            content: '';
            display: inline-block;
            border-bottom: 1px dotted #333;
            position: absolute;
            left: 100%;
            right: -9999px;
            bottom: 0;
          }
       }
      .cur {
         width: 30%;
       }
    }
} */

.characters{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px 50px;
   border: 1px solid #e8e8e8;
   border-top: none;
   &__item{display: flex;}
   &__icon{float:left; width: 46px;
   img{width: 100%; height: 100%; object-fit: contain;}}
   &__right{display: flex; flex-direction: column; padding-left: 10px;}
   &__title{font-weight: 700;}
   
}

.more{ 
   h3{color:#555555; font-weight: 700; margin-top: 60px;}
   ul {list-style-type: square; padding: 0 0 0 25px;}
   a:hover{color: skyblue;}
   a>b:hover{color: $color-dark;}
   a b:hover{text-decoration: underline;}
   &__preamble{display: flex; flex-flow: row nowrap;
      .img{
         padding: 20px 20px 0 0;
         min-width: 200px;
       img{max-width: 100%; object-fit: contain;}
      }}
      p{padding: 20px 0 0 0; text-align: justify;}
}

