.product__container{display: flex; width: 100%;}
  .product {width: calc(100% / 3); cursor: pointer; border: 1px solid #e8e8e8; overflow: hidden; padding: 25px 15px; margin: 0 15px 15px 0; position: relative; text-align: center; transition: all 0.5s ease 0s; 
      &:hover {box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);}
      &-img {height: 200px;
      img{max-height: 140px; max-width: 100%; object-fit: contain;}}
      &-title a {color: #000; font-weight: 700; text-transform: uppercase;}
      &-desc {overflow: hidden; font-size: 14px;
         svg{color: #FBE41A;}
         p{margin: 0px}
         p:last-child{margin-bottom: 40px}
      /* :before{content:""; position: absolute; top: 4px; display: block; width: 11px; height: 8px; background: no-repeat url("../images/check.png")}*/} 
      &-price {position: absolute; bottom: 0; left: 0; width: 100%; color: #d51e08; font-size: 18px; font-weight: 700;}
  } 
/*   .service__price{
    width: 100%;
    text-align: center;
    background-color: #000;
    color: $color-main;
    font-size: 18px;
    border: 1px solid #000;
    line-height: 30px;
    padding: 5px 2px;
    position: absolute;
    bottom: 0;
    font-weight: 500;
} */
.pricing-section {position: relative; padding: 115px 0px 120px 0px; margin: 0 auto; 
    .fl-table {overflow:auto;}
    table {width: 100%; background-color: #fff; box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1); margin-bottom: 30px;
        th, td {padding: 16px; margin: auto;}
        th {background-color: $color-main; color: #000;}
        tr.gray {background-color: #efeff6;}}
}
.centred {text-align: center;}

  .concrete-price{
    p{text-align: left;}
    i{color: $color-main;}
  }
