.section__button {

  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: 900;
  padding: 10px 20px;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 3px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;

  &:hover {
    color: $color-dark;
  }

}
 
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 30px;
  display: none;
  overflow-y: auto;

  a:hover{text-decoration: none;}

  &__main {
    position: relative;
    width: 600px;
    max-width: 100%;
    min-width: 280px;
    background-color: $color-main;
    margin: auto;
    color: $color-dark;
    padding: 30px 60px;
    cursor: default;
  }

  &__title {
    font-size: 40px;
    margin: 30px 0;
    font-weight: 700;
    line-height: 50px;
  }

  &-subtitle{
    font-size: 1.25rem;
    margin: -20px 0 30px 0;
  }

  &__container {
    font-size: 18px;
    margin-bottom: 30px;

    & p{
      font-size: 18px;
    }
  }

  &__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 25px;
    right: 25px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border-radius: 3px;
    padding: 0;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    &:focus-visible{outline-color: $color-dark;}
  }

  &-form {

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      input[type=text]{
        padding: 10px 24px;
        margin: auto;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        width: 100%;
      }

      input[type=tel]{
        padding: 10px 24px;
        margin: auto;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        width: 100%;
      }

      input[type=submit] {
        background-color: $color-dark;
        color: #fff;
        font-size: 16px;
        padding: 10px 24px;
        margin: auto;
        border: none;
        cursor: pointer;
        @include transition;
        margin-bottom: 16px;
        width: 100%;
      }

      input[type=submit]:hover{
        text-decoration: none;
      }
    }
  }
}


@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .modal {
    padding: 0 15px;

    &__title {
      font-size: 24px;
      line-height: 30px;
      margin: 30px 0 20px 0;
    }


    &__main {
      padding: 30px;
      cursor: default;
      overflow: none;
    }

    &-subtitle{
      font-size: 1rem;
      margin: -10px 0 20px 0;
    }

    &__close {
      top: 20px;
      right: 20px;
    }

    &-form {
      input[type=tel]{
        width: 100%;
        font-size: 16px;
      }

      input[type=text]{
        width: 100%;
        font-size: 16px;
      }

      input[type=submit]{
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
      }

      form {
        gap: 15px;
      }
    }

    &__container p{
      font-size: 1rem;
    }
  }
}
